body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
.navigation_bar{
  background-color: #000;
  color : #fff;
  overflow: auto;
}
nav{
  float: right;

}
nav ul {
  color: #fff;
  display: inline-flex;
  list-style-type: none;
  margin-right: 50px;
}
nav ul li{
  padding: 0 25px ;
}
nav ul li:hover .dropdown  {
      display: block;
      position: absolute;
      background-color:gainsboro;
      padding: 0;
      top: 40px;
      border-radius: 3px;
}
.dropdown li{
  padding: 5px 0;
}
.dropdown li:hover{
  text-decoration: underline;
}
.dropdown li a {
  color: black;
  padding: 8px;
  font-size: 14px;
}
nav ul li a{
  text-decoration: none;
  color : white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
}
.brand {
  display: inline-flex;
}
.brand a {
  color : white;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0px 0 44px;
}
.arrowHead {
  vertical-align: text-bottom;
}
nav ul li ul {
  display: none;
}
.containerFilm .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}
.containerFilm > h1 {
  color: black;
  font-family: Roboto italic;
  font-size: 30px;
  font-style: italic;
  border-bottom: 4px solid #FFD100;
  padding: 0 0 10px 50px;
}
.smallContainer {
  width: 25%;
}
.capture {
  border-bottom: 2px solid #FFD100;
}
.film-poster {
  text-align: center;
  padding: 10px 40px;
}
.film-poster img{
  width: 100%;
}
.capture {
  margin: 40px;
  height: 140px;
  position: relative;
}
.film-name_ganre{
}
.likeFilm {

}
.film-name_ganre > h6{
  margin: 10px 0;
  font-size: 20px;
}
.film-name_ganre > h6{
  margin: 10px 0;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Roboto' sans-serif;
}
.film-name_ganre h6:first-child+h6{
  font-weight: bold;
}
.film-name_ganre p{
  color: red;
}
.heart {
position: absolute;
bottom: 0px;
right: 0px;
cursor: pointer;
}
.keepInTouch {
  background-color: #E64E0F;
}
.keepInTouch h1:first-child{
  color: white;
  text-align: center;
  padding: 10px 0;
}
form {

}
.inputs_text {
  display: flex;
  justify-content: center;
}
.inputs_signUp {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.inputs_text input {
  margin: 10px;
  background : transparent;
  border-width: 1px;
  border-color: transparent transparent white transparent;
  color: white;
  font-size: 16px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-size: 14px;
  opacity: 0.9;
}
input:focus {
    outline:none;
}
.inputs_signUp input {
width: 150px;
padding: 5px;
background: white;
color: #E64E0F;
font-family: Roboto sans-serif;
border: none;
font-size: 18px;
cursor: pointer;
border-radius: 2px;
}
footer {
  background-color: black;
  color: white;
  overflow: auto;
}
footer > p{
  margin: 0;
  padding: 0 25px;
  align-items: center;
  height: 66px;
  display: inline-flex;
  font-weight: bold;
}
.socialNetworks {
  float: right;
    height: 66px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.socialNetworks a{
  padding: 0 20px;

}
.socialNetworks a img {
  height: 38px;
  vertical-align: middle;

}
